<%- include("header1.ejs") %>

<div class="container">
    <ul>
        <% blogs.forEach(function(blog) { %>
        <li><a href="#"><%= blog.title %> </a></li>
        <% }); %>
    </ul>
    <a href="/write-a-blog">Write a new Blog</a>
</div>

<%- include("footer.ejs") %>
