<%- include("header2.ejs") %>

<div class="blog-write">
  <form action="/" method="post" id="blog">
    <h2>Write a Blog</h2>
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="A Special Gift" required/>
    <label for="name">Author Name:</label>
    <input type="text" name="name" placeholder="Jane Doe" required />
    <label for="article"> Article:</label>
    <textarea name="article" id="article" cols="30" rows="5" placeholder="Write something interesting..." required></textarea>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </form>
</div>

<%- include("footer.ejs") %>
